$brand-primary: #de5e60 !default;
$body-bg: #2f3238 !default;
$text-color: #eee !default;
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$navbar-default-color: $brand-primary !default;
$navbar-default-bg: $body-bg !default;
$navbar-default-border: $navbar-default-bg !default;
$navbar-default-link-color: $brand-primary !default;
$navbar-default-link-hover-color: darken($brand-primary, 10%) !default;
$navbar-default-link-active-color: darken($brand-primary, 10%) !default;
$navbar-default-toggle-hover-bg: darken($body-bg, 5%) !default;
$navbar-default-toggle-icon-bar-bg: $brand-primary !default;
$navbar-default-toggle-border-color: $body-bg !default;
$state-info-text: #fff !default;
$state-info-bg: lighten($body-bg, 15%) !default;
